a { text-decoration:none}
table { padding:0px; margin:0px; cellpadding:0px;}
body { margin:0px; padding:0px;}
.done {
	height:50px;
	width:175px;
	font-size:12pt;
	text-align:center;
	background-color:ccffcc;
	border:ridge 3px #FF0000;
	}	
.active {
	height:50px;
	width:175px;
	font-size:12pt;
	text-align:center;
	background-color:ffffcc;
	border:ridge 3px #FFFF00;
	}
.alert	{
	height:50px;
	width:175px;
	font-size:12pt;
	text-align:center;
	background-color:ffcccc;
	border:ridge 3px #FF0000;
	}
.pending{
	height:50px;
	width:175px;
	font-size:12pt;
	text-align:center;
	background-color:cccccc;
	border:ridge 3px #FF0000;
	}
