select.italic {
	font-style:italic;
	background-color:red;
}
a { text-decoration:none}
table { padding:0px; margin:0px; cellpadding:0px;}
body { margin:0px; padding:0px;}
input, select { background-color:#CCFFFF; font-variant:small-caps; }
td { font-variant:small-caps;}
legend {margin:0px; border:solid 1px #FF0000; background-color:#cccccc; padding:0px;}
legend.a {margin:0px; border:solid 1px #FF0000; background-color:#cccccc; padding:0px; font-size:12px}
fieldset {margin:0px; padding:0px; background-color:#FFFFFF; }
.single{background-color:#00FF00}
.duplicate{background-color:#FF0000}
