body	{
margin:0px;
padding:0px;
background-color:#000000;
background-image:url('http://www.ebennet.be/files/wallpapers/fire_bg.jpg');
background-repeat: repeat-x;
background-attachment:fixed;
background-position: bottom;
	}

	
	

	
